.saved-news-header {
  padding: 40px 104px 56px;
  color: #1A1B22;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
}

@media (max-width: 1080px) {
  .saved-news-header {
    padding: 24px 40px 32px;
  }
}

@media (max-width: 600px) {
  .saved-news-header {
    padding: 8px 16px 32px;
  }
}

.saved-news-header__header {
  color: rgba(26, 27, 34, 0.5);
  margin: 0 0 28px 0;
}

@media (max-width: 1080px) {
  .saved-news-header__header {
    margin: 0 0 16px 0;
    font-size: 14px;
    line-height: 171%;
  }
}

@media (max-width: 600px) {
  .saved-news-header__header {
    margin: 0 0 16px 0;
    font-size: 12px;
    line-height: 200%;
  }
}

.saved-news-header__greeting {
  max-width: 530px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 115%;
  margin: 0 0 30px 0;
}

@media (max-width: 1080px) {
  .saved-news-header__greeting {
    margin: 0 0 16px 0;
    font-size: 30px;
  line-height: 113%;
  }
}

.saved-news-header__text {
  margin: 0;
}

@media (max-width: 1080px) {
  .saved-news-header__text {
    font-size: 14px;
    line-height: 171%;
  }
}

@media (max-width: 600px) {
  .saved-news-header__text {
    font-size: 18px;
    line-height: 133%;
  }
}

.saved-news-header__bold-text {
  font-weight: 700;
}
