.about {
  background-color: white;
  padding: 80px 104px;
  color: black;
}

@media (max-width: 1080px) {
  .about {
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .about {
    padding: 32px 16px;
  }
}

.about__info {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  gap: 56px;
  margin-right: 112px;
  justify-items: center;
}

@media (max-width: 1080px) {
  .about__info {
    gap: 32px;
    margin-right: 0;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .about__info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 24px;
  }
}

.about__image {
  background-image: url(../../images/me.jpg);
  width: 464px;
  height: 464px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1000px;
}

@media (max-width: 1080px) {
  .about__image {
    width: 232px;
    height: 232px;
    align-self: center;
  }
}

@media (max-width: 600px) {
  .about__image {
    width: 272px;
    height: 272px;
  }
}

.about__story {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  gap: 24px;
}

@media (max-width: 1080px) {
  .about__story {
    gap: 16px;
  }
}

.about__header {
  margin: 51px 0 0 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 115%;
}

@media (max-width: 1080px) {
  .about__header {
    margin-top: 0;
    font-size: 30px;
    line-height: 133%;
  }
}

.about__text {
  margin: 0 0 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 133%;
}
