.news-card-list {
  background: #f5f6f7;
  margin: 0;
  list-style: none;
  padding: 64px 104px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  justify-items: center;
}

@media (max-width: 1440px) {
  .news-card-list {
    gap: 16px;
  }
}

@media (max-width: 1080px) {
  .news-card-list {
    padding: 32px 40px;
  }
}

@media (max-width: 784px) {
  .news-card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 656px) {
  .news-card-list {
    padding: 24px 16px;
  }
}

@media (max-width: 624px) {
  .news-card-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
